*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0,0,0,0);
}
#wrap{
    position: relative;
    width: 90px;
    height: 135px;
    margin: 150px auto;
    background: rgba(255,255,255,0);
    transform-style: preserve-3d;
   /* perspective: 800px; //景深效果 800-1000像素合适*/
    transform: perspective(1500px)  rotateX(-10deg) rotateY(0deg); 
}
#wrap img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #fff;/* 阴影效果 x偏移，y偏移，扩散px，颜色*/
    -webkit-box-reflect:below 10px -webkit-linear-gradient(top , rgba(0,0,0,0) 40% , rgba(0,0,0,0.5) 100%);/*倒影效果*/
}
#wrap img:hover{
    cursor: pointer;
}
#wrap p{
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background: -webkit-radial-gradient(center center,600px 600px,rgba(0,230,255,.2),rgba(0,180,255,0));
    position: absolute;
    top:100%;
    left: 50%;
    margin-top: -600px;
    margin-left: -600px;
    transform: rotateX(90deg);
}












